@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700;900&display=swap");
.container {
  margin-right: auto;
  /* 1 */
  margin-left: auto;
  /* 1 */
  max-width: 1124px;
  /* 2 */
  padding-right: 1em;
  /* 3 */
  padding-left: 1em;
  /* 3 */
}

.btn-primary, .btn-secondary {
  text-decoration: none;
  font-size: 0.8em;
  padding: 1em 2em;
  margin-bottom: 2em;
  margin-top: 1em;
  display: inline-block;
  border-radius: 2em;
}

.btn-primary {
  color: #0d3d6c;
  border: 1px solid #0d3d6c;
}

.btn-primary:hover {
  background-color: #0d3d6c;
  color: #fff;
}

.btn-secondary {
  color: white;
  border: 1px solid white;
}

.btn-secondary:hover {
  background-color: #0d3d6c;
  color: #fff;
  border: 1px solid #0d3d6c;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
  font-size: 15px;
  color: #14151f;
}

h1 {
  font-size: 3em;
  margin: 0.4em 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 0;
}

header a {
  text-decoration: none;
}

header .logo {
  font-weight: 700;
  color: #0d3d6c;
  font-size: 1.4em;
}

header nav {
  display: none;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-right: 6em;
}

header nav ul li a {
  color: #14151f;
  text-transform: uppercase;
  font-weight: 700;
  padding: 2em;
  font-size: 0.8em;
}

header nav ul .active {
  color: #0d3d6c;
}

header nav ul::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 90px;
  height: 2px;
  background-color: #14151f;
}

.content h1 {
  position: relative;
  font-weight: 900;
}

.content p {
  font-size: 0.9em;
  line-height: 1.6em;
}

.content main {
  position: relative;
  overflow: hidden;
}

.content aside {
  position: relative;
}

.content aside img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.content aside .aside__wrapper {
  position: relative;
  height: 100%;
  margin: 2em 0;
}

.content aside .aside__wrapper .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
}

.content aside .aside__wrapper .aside__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
  text-align: center;
  height: 100%;
  padding: 2rem;
  width: 100%;
}

.content aside .aside__wrapper .aside__content h2 {
  color: #fff;
}

.content .content__faded {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 4em;
  font-weight: 900;
  width: 300%;
  opacity: 0.03;
}

.content .content__subtitle {
  font-weight: 700;
  position: relative;
  padding-left: 1.2em;
  font-size: 0.8em;
}

.content .content__subtitle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 9px;
  height: 1px;
  background-color: #14151f;
}

@media (min-width: 992px) {
  body {
    font-size: 16px;
  }
  header {
    margin: 2em 0;
  }
  header nav {
    display: inline-block;
  }
  .content__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content__main main {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding-right: 2em;
  }
  .content__main main h1 {
    margin: 0.6em 0;
  }
  .content__main aside {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    text-align: center;
    overflow: hidden;
    height: 80vh;
    text-align: center;
  }
  .content__main aside .aside__wrapper {
    margin: 0;
  }
  .content__main aside img {
    position: relative;
  }
}
/*# sourceMappingURL=main.css.map */