@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700;900&display=swap");
@import "config";
@import "utilities";
@import "buttons";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
  font-size: 15px;
  color: $text-color;
}

h1 {
  font-size: 3em;
  margin: 0.4em 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  a {
    text-decoration: none;
  }

  .logo {
    font-weight: 700;
    color: $primary-color;
    font-size: 1.4em;
  }

  nav {
    display: none;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      position: relative;
      padding-right: 6em;

      li a {
        color: $text-color;
        text-transform: uppercase;
        font-weight: 700;
        padding: 2em;
        font-size: 0.8em;
      }

      .active {
        color: $primary-color;
      }

      &::after {
        content: "";
        position: absolute;
        top: 12px;
        right: 0;
        width: 90px;
        height: 2px;
        background-color: $text-color;
      }
    }
  }
}

.content {
  h1 {
    position: relative;
    font-weight: 900;
  }

  p {
    font-size: 0.9em;
    line-height: 1.6em;
  }

  main {
    position: relative;
    overflow: hidden;
  }

  aside {
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }

    .aside__wrapper {
      position: relative;
      height: 100%;
      margin: 2em 0;

      .overlay {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgba(13, 61, 108, 0.6);
      }

      .aside__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 10;
        text-align: center;
        height: 100%;
        padding: 2rem;
        width: 100%;

        h2 {
          color: #fff;
        }
      }
    }
  }

  .content__faded {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 4em;
    font-weight: 900;
    width: 300%;
    opacity: 0.03;
  }

  .content__subtitle {
    font-weight: 700;
    position: relative;
    padding-left: 1.2em;
    font-size: 0.8em;
  }

  .content__subtitle::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 9px;
    height: 1px;
    background-color: $text-color;
  }
}

@import "media-query";
